
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.3;
    color: #ffffff;
    background:#1a1919;
  }
  
  .box {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 20px #ffffff1a;
  }
  
  /* Header Styles */
  
  .signup-header {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  
  .signup-header h1 {
    margin: 0;
    color: #0ef;
  }
  
  /* Form Styles */
  
  .signup-body {
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 600;
    color: #0ef;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px 12px;
    border-radius: 10px;
    color: #000;
    font-size: 18px;
    outline: none;
  }
   
  input[type="submit"] {
    width: 100%;
    height: 40px;
    padding: 10px 50px;
    background: #0ef;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: .3s;
    box-shadow: 0 0 20px #0ef;
    font-size: 19px;
    font-weight: 600;
  }
  
  input[type="submit"]:hover {
    box-shadow: none;
  }
  
  /* Error Message Styles */
  
  #error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Footer Styles */
  
  .signup-footer {
    text-align: center;
  }

  .signup-footer p {
    margin: 20px;
  }
  
  .signup-footer a {
    background: #0ef;
    text-decoration: none;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 0 20px #0ef;
    color: #000;
    transition: .3s;
  }
  
  .signup-footer a:hover {
    box-shadow: none;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .box {
      max-width: 300px;
    }

  }
  
  @media (max-width: 480px) {
    .box {
      max-width: 250px;
    }
    .signup-header {
      font-size: 18px;
    }
    .signup-footer {
      font-size: 18px;
    }
  }